
.navbar{border-top:1px solid #f2f2f2}.bg-light{background-color:#fff !important}body{padding:0px;margin:0px;background:#fff;color:#262626;font-family:Arial, Helvetica, sans-serif}.navbar-light .navbar-nav .nav-link{color:#262626;font-weight:bold}.navbar-light .navbar-nav .nav-link:hover{color:#2E52A1;text-decoration:underline}.dropdown{margin:0px}.logo{width:100px}h1{padding:0px;margin:0px;color:#2E52A1}p{margin-top:0px}.mainBody{margin:0px auto;padding:20px;max-width:600px}article{padding:15px}article button{background:#1C4D45;color:#fff;border:none;width:70px;padding:5px}.categoryPosts{background-color:#f2f2f2}.coverPhoto{padding:0px;margin:0px}.coverPhoto img{display:block;width:100%;max-height:500px;object-fit:cover}footer .footer__container{text-align:center;max-width:100%}footer .footer__container button{width:100px;display:inline-block}footer .footer__container button:nth-child(1){background-color:#395a93}footer .footer__container button:nth-child(2){background-color:#8a3ab9;margin:0 2em}footer .footer__container button:nth-child(3){background-color:#1C4D45}footer .footer__container .footer__credit{padding-top:0.3em}.sign-up-btn{margin-left:100px;background-color:#1C4D45;color:#fff;border:none}.sign-up-btn__link{color:#fff}.sign-up-btn__link:hover{text-decoration:none;color:#fff}@media screen and (min-width: 992px){.jumbotron{background-image:url("images/mh_header.jpg");background-color:#cccccc;background-size:cover;width:100%;height:550px}.dropdown{margin-left:600px}.logo{display:none}.user-actions__sign-up-btn{background-color:#1C4D45;color:#fff;border:none}.user-actions__link{color:#fff}.user-actions__link:hover{text-decoration:none;color:#fff}.user-actions__link--black{color:#262626}.user-actions__link--black:hover{text-decoration:none;color:#2E52A1}}


.navbar{border-top:1px solid #f2f2f2}.bg-light{background-color:#fff !important}body{padding:0px;margin:0px;background:#fff;color:#262626}.navbar-light .navbar-nav .nav-link{color:#262626;font-weight:bold}.navbar-light .navbar-nav .nav-link:hover{color:#2E52A1;text-decoration:underline}.dropdown{margin:0px}.logo{width:100px}footer .footer__container{text-align:center;max-width:100%}footer .footer__container button{width:100px;display:inline-block}footer .footer__container button:nth-child(1){background-color:#395a93}footer .footer__container button:nth-child(2){background-color:#8a3ab9;margin:0 2em}footer .footer__container button:nth-child(3){background-color:#1C4D45}footer .footer__container .footer__credit{padding-top:0.3em}.sign-up-btn{margin-left:100px;background-color:#1C4D45;color:#fff;border:none}.sign-up-btn__link{color:#fff}.sign-up-btn__link:hover{text-decoration:none;color:#fff}@media screen and (min-width: 992px){.dropdown{margin-left:600px}.logo{display:none}.user-actions__sign-up-btn{background-color:#1C4D45;color:#fff;border:none}.user-actions__link{color:#fff}.user-actions__link:hover{text-decoration:none;color:#fff}.user-actions__link--black{color:#262626}.user-actions__link--black:hover{text-decoration:none;color:#2E52A1}}

/* line 2, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.navbar {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 6, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.navbar-brand {
  margin-right: 0px;
}

/* line 10, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.bg-light {
  background-color: #fff !important;
}

/* line 14, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.navbar-light .navbar-nav .nav-link {
  color: #262626;
  font-weight: bold;
}

/* line 18, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: #2E52A1;
  text-decoration: underline;
}

/* line 24, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.logo {
  width: 100px;
}

/* line 28, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.dropdown {
  margin: 0px;
}

/* line 32, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.sign-up-btn {
  margin-left: auto;
  margin-right: 1rem;
  padding: 8px 10px;
  border-radius: .25rem;
  background-color: #1C4D45;
  color: #fff;
  border: none;
}

/* line 42, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.sign-up-btn__link {
  color: #fff;
}

/* line 45, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
.sign-up-btn__link:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 992px) {
  /* line 53, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  /* line 58, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .dropdown-item {
    color: #262626;
  }
  /* line 61, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .dropdown-item:hover {
    background-color: #2E52A1;
    color: #fff;
  }
  /* line 67, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .logo {
    display: none;
  }
  /* line 71, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .user-actions {
    margin-right: 20px;
  }
  /* line 75, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .user-actions__sign-up-btn {
    padding: 8px 10px;
    background-color: #1C4D45;
    border-radius: .25rem;
    color: #fff;
    border: none;
  }
  /* line 83, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .user-actions__link {
    color: #fff;
  }
  /* line 85, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .user-actions__link:hover {
    text-decoration: none;
    color: #fff;
  }
  /* line 91, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .user-actions__link--black {
    margin-right: 10px;
    font-weight: bold;
    color: #262626;
  }
  /* line 95, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_nav.scss */
  .user-actions__link--black:hover {
    text-decoration: none;
    color: #2E52A1;
  }
}

/* line 2, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.help-article-container {
  padding: 0px;
}

/* line 6, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.article__wrapper {
  margin: 0px auto;
  max-width: 650px;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}

/* line 13, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.contact {
  margin: 30px 20px;
  text-align: center;
}

/* line 18, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.contact__text {
  display: block;
}

/* line 22, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.contact__btn {
  margin: 5px;
  width: 130px;
  border-radius: .25rem;
}

/* line 28, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.article__content {
  margin: 10px auto;
  padding: 20px;
  background-color: #f2f2f2;
}

/* line 34, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.article__top-header {
  margin: 20px 0px 0px 10px;
  color: #1c3045;
}

/* line 39, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.article__question {
  color: #1c3045;
}

/* line 43, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/_help-page.scss */
.article__text {
  line-height: 1.9;
}

/* line 15, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
body {
  padding: 0px;
  margin: 0px;
  background: #fff;
  font-size: 16px;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

/*---CATEGORY PAGES---*/
/* line 26, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
h1 {
  padding: 0px;
  margin: 0px;
  color: #2E52A1;
}

/* line 32, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
p {
  margin-top: 0px;
}

/* line 36, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.mainBody {
  margin: 0px auto;
  padding: 20px;
  max-width: 600px;
}

/* line 42, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
article {
  padding: 15px;
}

/* line 46, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
article button {
  background: #1C4D45;
  color: #fff;
  border: none;
  width: 70px;
  padding: 5px;
}

/* line 54, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.categoryPosts {
  background-color: #f2f2f2;
}

/* line 58, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.coverPhoto {
  padding: 0px;
  margin: 0px;
}

/* line 63, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.coverPhoto img {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* line 73, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container {
  text-align: center;
  max-width: 100%;
}

/* line 77, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button {
  width: 100px;
  display: inline-block;
}

/* line 82, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button:nth-child(1) {
  background-color: #395a93;
}

/* line 86, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button:nth-child(2) {
  background-color: #8a3ab9;
  margin: 0 2em;
}

/* line 91, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button:nth-child(3) {
  background-color: #1C4D45;
}

/* line 94, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container .footer__credit {
  padding-top: 0.3em;
}

@media screen and (min-width: 992px) {
  /* line 102, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .jumbotron {
    background-image: url("../images/mh_header.jpg");
    background-color: #cccccc;
    background-size: cover;
    width: 100%;
    height: 550px;
  }
}

/*# sourceMappingURL=../css/style.map */


