/* line 10, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.navbar {
  border-top: 1px solid #f2f2f2;
}

/* line 14, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.bg-light {
  background-color: #fff !important;
}

/* line 18, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
body {
  padding: 0px;
  margin: 0px;
  background: #fff;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 26, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.navbar-light .navbar-nav .nav-link {
  color: #262626;
  font-weight: bold;
}

/* line 30, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: #2E52A1;
  text-decoration: underline;
}

/* line 36, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.dropdown {
  margin: 0px;
}

/* line 40, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.logo {
  width: 100px;
}

/*---CATEGORY PAGES---*/
/* line 46, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
h1 {
  padding: 0px;
  margin: 0px;
  color: #2E52A1;
}

/* line 52, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
p {
  margin-top: 0px;
}

/* line 56, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.mainBody {
  margin: 0px auto;
  padding: 20px;
  max-width: 600px;
}

/* line 62, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
article {
  padding: 15px;
}

/* line 66, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
article button {
  background: #1C4D45;
  color: #fff;
  border: none;
  width: 70px;
  padding: 5px;
}

/* line 74, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.categoryPosts {
  background-color: #f2f2f2;
}

/* line 78, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.coverPhoto {
  padding: 0px;
  margin: 0px;
}

/* line 83, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.coverPhoto img {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* line 93, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container {
  text-align: center;
  max-width: 100%;
}

/* line 97, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button {
  width: 100px;
  display: inline-block;
}

/* line 102, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button:nth-child(1) {
  background-color: #395a93;
}

/* line 106, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button:nth-child(2) {
  background-color: #8a3ab9;
  margin: 0 2em;
}

/* line 111, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container button:nth-child(3) {
  background-color: #1C4D45;
}

/* line 114, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
footer .footer__container .footer__credit {
  padding-top: 0.3em;
}

/* line 120, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.sign-up-btn {
  margin-left: 100px;
  background-color: #1C4D45;
  color: #fff;
  border: none;
}

/* line 127, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.sign-up-btn__link {
  color: #fff;
}

/* line 130, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
.sign-up-btn__link:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 992px) {
  /* line 138, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .jumbotron {
    background-image: url("images/mh_header.jpg");
    background-color: #cccccc;
    background-size: cover;
    width: 100%;
    height: 550px;
  }
  /* line 146, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .dropdown {
    margin-left: 600px;
  }
  /* line 150, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .logo {
    display: none;
  }
  /* line 154, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .user-actions__sign-up-btn {
    background-color: #1C4D45;
    color: #fff;
    border: none;
  }
  /* line 160, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .user-actions__link {
    color: #fff;
  }
  /* line 162, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .user-actions__link:hover {
    text-decoration: none;
    color: #fff;
  }
  /* line 168, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .user-actions__link--black {
    color: #262626;
  }
  /* line 170, /Users/jessicagustavsson/Dropbox/Medieinstitutet/WEB DYN/PHP/Millhouse-By-dreamIT/sass/style.scss */
  .user-actions__link--black:hover {
    text-decoration: none;
    color: #2E52A1;
  }
}

/*# sourceMappingURL=../css/style.map */