@import 'theme.scss'; 

/*--GENERAL--*/

main {
    max-width: 900px;
}

.footer__container {
    flex-direction: row !important;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
    }

.dropdown-item {
    color: $textColor;

    &:hover {
        background-color: $interactiveHover;
        color: $defaultColor;
    }
}

.logo {
    display: none;
}

.logo-header {
    width: 100%;
    height: 70px;
    text-align: center;
}

.logotype {
    display: inline-block !important;
    width: 120px;
}

.user-actions {
    margin-right: 20px;
}

.user-actions__sign-up-btn {
    padding: 8px 10px;
    background-color: $buttonColor;
    border-radius: .25rem;
    color: $defaultColor;
    border: none;
}

.user-actions__link {
    color: $defaultColor;

    &:hover {
        text-decoration: none;
        color: $defaultColor;
    }
}

.user-actions__link--black {
    margin-right: 10px;
    font-weight: bold;
    color: $textColor;

    &:hover {
        color: $interactiveHover;
    }
}

.jumbotron_indexHeader {
    margin-bottom: 0px;
    background-image: url("images/mh_jumboBig.png"), url("../images/mh_jumboBig.png");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.figures {
    display: flex;
    flex-direction: row;
    padding: 10px;

    figure {
        margin: 0 auto;

        .figures__category-image {
            height: 300px;
            width: 300px;
            padding: 10px;
        }

        figcaption {
            text-align: center;
            color: $headLineColor;
        }
    }
}

/*--CATEGORY PAGES--*/

.jumbotron_watchesHeader{
    margin-bottom: 0px;
    background-image: url("../images/mh_watchBig_2.png");
    background-color: #cccccc;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 300px;
}

.jumbotron_sunglassesHeader{
    margin-bottom: 0px;
    background-image: url("../images/mh_sunglassesBig_2.png");
    background-color: #cccccc;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 300px;
}

.jumbotron_interiorHeader{
    margin-bottom: 0px;
    background-image: url("../images/mh_interiorBig.png");
    background-color: #cccccc;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 300px;
}

/*--FORMS--*/

.form_heading {
    margin-left: 30px;
}

fieldset {
    
    label {
    text-align: left;
    }
}

.checkboxWrapper {
    text-align: left;
}

.createButton {
    margin-top: 30px;
    text-align: left;
}