
.help-article-container {
    padding: 4px;
    margin: 0px 12px;
}

.article__wrapper {
    margin: 0px auto;
    max-width: 650px;
    border-right: 1px solid $sectionBackground;
    border-left: 1px solid $sectionBackground;
}

.contact {
    margin: 30px 20px;
    text-align: center;
}

.contact__text {
    display: block;
}

.contact__btn-container {
    margin: 10px auto;
    width: 120px;
    padding: 10px;
    background-color: $buttonColor;
    border-radius: .25rem;
}

.contact__btn {
    color: $defaultColor;

    &:hover {
        color: $defaultColor;
        text-decoration: none;
    }
}

.article__content {
    margin: 0px auto; 
    margin: 12px;
    padding: 12px;
    background-color: $sectionBackground;
}

.article__top-header {
    margin: 20px 0px 0px 10px;
    color: $headLineColor;
}

.article__question {
    margin-left: 0px;
    padding: 0px;
    color: $headLineColor;
}

.article__text {
    line-height: 1.9;
}