footer {
    border-top: 1px solid rgba(0,0,0,.15);
    text-align: center;

    .footer__container {
        display: flex;  
        justify-content: space-around;
        margin: 10px auto; 
        padding: 10px;
        text-align: center;
        max-width: 750px;

            .footer__link {
                padding: 10px 15px;
                border-radius: 0.25em;

                    &:hover {
                        background-color: $interactiveHover;
                        color: $defaultColor;
                    }
            
                    .fa {
                        font-size: 2em;
                    }  
                    
                   
        }
    
    }   
}

.footer__credit {
    text-align: center;
    margin: 10px;
}

@media screen and (min-width: 992px){

    .footer__container {
        flex-direction: row !important;
    }
}



