.dropdown-content{
    text-align: center;
}

.container-wrapper{
   margin: 0 1em;
   padding: 20px;
    .container-latestComments{
        margin: 1em auto;      
        background-color: $sectionBackground;
            button{
                align-self: center;
                background-color: $buttonColor;
                width: 5.5rem;  
                a{
                    color: white;
                    &:hover{
                        color:white;
                        text-decoration: underline;
                    }
                }      
            }
            
            button:nth-of-type(2){
                background-color: $dangerColor;
                margin-top: 1em;
                margin-left: 0.5rem;
            }
    
    }
}
