.login_wrapper{
    margin: 0px auto;
    max-width: 500px;  
}

.topInfo {
    margin: 0px auto; 
    margin-bottom: 30px;
    
}

.topInfo__instruction {
    margin-bottom: 10px;
}

.form {
    margin-bottom: 10px;
}

.loginForm__input {
    margin: 0px auto;
    max-width: 600px;
    text-align: left;

    label{
        width: 100%; 
    }

    input{
        width: 100%; 
    }
}

.loginForm__newAccount-link{
    padding: 5px; 
    border-radius: 0.25rem; 
    text-align: center; 
    margin: 0px auto; 

    a{
        color: $interactiveHover; 
        font-weight: 700; 
    }
}

.error-msg {
    display: block;
    text-align: left;
    color: $dangerColor;
}

.login-label {
    max-width: 500px; 
}