
.topInfo {
    margin-bottom: 30px;
}

.topInfo__instruction {
    margin-bottom: 10px;
}

.form {
    margin-bottom: 10px;
}

.contactForm__input {
    margin: 0px auto;
    max-width: 600px;
    text-align: left;
}

.error-msg {
    display: block;
    text-align: left;
    color: $dangerColor;
}

.login-label {
   margin: 0px;
}