$sectionBackground:#f2f2f2;
$defaultColor:#fff;
$textColor:#262626;
$headLineColor:#1c3045;
$buttonColor:#1C4D45;
$interactiveHover:#2E52A1;
$tabs:#6d6d6d;
$dangerColor:#cc4750;

body {
    padding: 0px;
    margin: 0px;
    background: $defaultColor;
    color: $textColor;
    font-family: Arial, Helvetica, sans-serif; 
}

main{
    margin: 0px auto; 
    max-width: 600px; 
    border-left: 1px solid $sectionBackground;
    border-right: 1px solid $sectionBackground;
}

a{
    color: $textColor; 
}

button{
    border-radius: 0.25em; 
}

/*--PROFILE INFO--*/

.profileBox{
    background:$defaultColor; 
    max-width: 600px; 
    margin: 0px auto; 
    padding: 20px; 

    .profileBox__content-1{
        height: 100px; 
    }

    .profileBox__content-2{
        height: 30px; 
    }


/*--username & picture--*/
        .user-image__container{
            font-size: 3em; 
            float: left; 
            width: 10%; 
        }

        .user-image__image {
            width: 50px;
            vertical-align: text-top;
        }

        .profileBox__content-username{
            float: left;
            width: 50%; 
            padding: 10px; 
            margin-left: 10px; 
        }

        p{
            margin: 0px;
            padding: 0px; 
        }
/*--settings--*/

        .settings{
            float: right; 
            background: none; 
            border: none; 
            width: 30%; 
            
    
            .fa-cog{
                color: $textColor; 
                font-size: 2.2em;
            }    
        }


/*--blogposts & comments--*/

    .profileBox__content-commentsPosts{
        display: inline-flex; 
        font-size: 0.9em; 
        width: 60%; 
        float: left; 
    }

    .totalPosts{
        margin: 5px; 
    }

    .totalComments{
        margin: 5px; 
    }
    

    }

/*--create new post--*/    

        .createNewPost{
            width: 40%; 
            float: right; 

            .create{
                background-color: $buttonColor; 
                border: none; 
                color: $defaultColor; 
                float: right; 
            }

            a{
                color: $defaultColor; 
                font-size: 0.9em; 
            }
        }
    

.clear{
    clear: both; 
}

/*--PROFILE NAVBAR--*/
.nav-justified{
    font-size: 0.8em;
    max-width: 900px; 
    margin: 0px auto; 
    border-top: 1px solid $sectionBackground; 
    border-bottom: 1px solid $sectionBackground; 

    .nav-link.active,.show > .nav-link{ /*--active navlink--*/
        background: $interactiveHover; 
        border-radius: 0px; 
    }
}

/*--BLOGPOST--*/

.blogpost {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.blogpost__date {
    margin-top: 20px;
}

.profilePosts{
    padding: 15px; 

        button{
            font-size: 0.9em; 
            width: 5.5rem; 
        }

        .categoryButton{
            display: block;
            
            a{
                color: $defaultColor;
            }
        }
        
        .editButtons{   

            a{
                color: $defaultColor; 
            }
            .fa-pencil{
                font-size: 1.2rem; 
            }
        
            .delete{
                background: $dangerColor; 

                .fa-trash{
                    font-size: 1.2rem; 
                }
        }
         
}

}


