$sectionBackground:#f2f2f2;
$defaultColor:#fff;
$textColor:#262626;
$headLineColor:#1c3045;
$buttonColor:#1C4D45;
$interactiveHover:#2E52A1;
$tabs:#6d6d6d;
$dangerColor:#cc4750;

body {
    padding: 0px;
    margin: 0px;
    background: $defaultColor;
    color: $textColor;
    font-family: Arial, Helvetica, sans-serif; 
}

main{
    margin: 0px auto; 
    max-width: 600px; 
    border-left: 1px solid $sectionBackground;
    border-right: 1px solid $sectionBackground;
}

/*--PROFILE INFO--*/

.profileBox{
    background: blue; 
    max-width: 600px; 
    height: 250px; 
    margin: 0px auto; 
    padding: 20px; 

    .profileBox__content{
        width: 70%; 
        float: left; 
        text-align: left; 
    }

        .fa-user-circle{
            font-size: 3em; 
            float: left; 
        }

        .profileBox__content-info{
            float: left;
            margin: 0px; 
            padding: 0px;  
        }

    .profileBox__content-icons{
        width: 30%; 
        float: right; 
        text-align: center; 
    }

        .create{
            background-color: $buttonColor; 
            border: none; 
            color: $defaultColor; 
        }

        .fa-cog{
            color: $textColor; 
            font-size: 2em;
        }
}

.clear{
    clear: both; 
}

/*--PROFILE NAVBAR--*/
.nav-justified{
    font-size: 0.8em;
    max-width: 600px; 
    margin: 0px auto; 
}

/*--BLOGPOST--*/
h2{
    padding: 0px; 
    margin: 0px; 
    color: $interactiveHover; 
}

p{
    margin-top: 0px;
}

.profilePosts{
    padding: 20px; 
}

.categoryPosts{
    background-color: $sectionBackground; 
    margin: 0px auto; 
    padding: 10px; 
    max-width: 600px; 
}

.postButtons{

    .delete{
        background: $dangerColor; 
    }
}
