$sectionBackground:#f2f2f2;
$defaultColor:#fff;
$textColor:#262626;
$headLineColor:#1c3045;
$buttonColor:#1C4D45;
$interactiveHover:#2E52A1;
$tabs:#6d6d6d;
$dangerColor:#cc4750;
$wrapperColor: rgba(109,
109,
109,
0.44);

/*---CATEGORY PAGES---*/

main{
    max-width: 900px; 
}

button{
    border-radius: 0.25em; 
    color: $defaultColor; 
}

p{
    margin-top: 0px;
}

.mainBody{
    margin: 0px auto; 
    padding: 20px;  
}

.headline {
    font-size: 4em;
    color: $interactiveHover;
}

article{
    padding: 15px; 
}

.coverPhoto{
    padding: 0px; 
    margin: 0px;
    object-fit: cover; 
    
}

.coverPhoto img{
    display: block; 
    width: 100%; 
    max-height: 400px; 
    object-fit: cover; 
}

.blogpost{
    padding: 15px; 

    .blogpost__category-tag{
        margin-bottom: 10px; 
    }

    button{
        font-size: 0.9em; 
        width: 5.5rem; 
    }

    .categoryButton{
        color: $defaultColor; 
        margin: 15px;
        margin-left:5px;
        a{
            color: $defaultColor;
        }
    }
        
    .editButtons{   
        
        .fa-pencil{
            font-size: 1.2rem; 
        }
    
        .delete{
            background: $dangerColor; 

            .fa-trash{
                font-size: 1.2rem; 
            }
    }
         
    }
}


