$sectionBackground:#f2f2f2;
$defaultColor:#fff;
$textColor:#262626;
$headLineColor:#1c3045;
$buttonColor:#1C4D45;
$interactiveHover:#2E52A1;
$tabs:#6d6d6d;
$dangerColor:#cc4750;

@import 'profilePage.scss'; 

.navbar {
    border-top: 1px solid $sectionBackground;
}

.bg-light {
    background-color: $defaultColor !important;
}

body {
    padding: 0px;
    margin: 0px;
    background: $defaultColor;
    color: $textColor;
    font-family: Arial, Helvetica, sans-serif; 
}

.navbar-light .navbar-nav .nav-link {
    color: $textColor;
    font-weight: bold;

        &:hover {
            color: $interactiveHover;
            text-decoration: underline;
        }
}

.dropdown {
    margin: 0px;
}

.logo {
    width: 100px;
}

/*---CATEGORY PAGES---*/

h1{
    padding: 0px; 
    margin: 0px; 
    color: $interactiveHover; 
}

p{
    margin-top: 0px;
}

.mainBody{
    margin: 0px auto; 
    padding: 20px;  
    max-width: 600px;    
}

article{
    padding: 15px; 
}

article button{
    background: $buttonColor; 
    color: $defaultColor; 
    border: none; 
    width: 70px; 
    padding: 5px; 
}

.categoryPosts{
    background-color: $sectionBackground; 
}

.coverPhoto{
    padding: 0px; 
    margin: 0px;
}

.coverPhoto img{
    display: block; 
    width: 100%; 
    max-height: 500px; 
    object-fit: cover; 
}


footer{

    .footer__container{
        text-align: center;
        max-width: 100%;

        button{
            width: 100px;
            display: inline-block;
        }

        button:nth-child(1){
            background-color:#395a93;  
        }

        button:nth-child(2){
            background-color:#8a3ab9;
            margin: 0 2em;
        }

        button:nth-child(3){
            background-color: $buttonColor;  
        }
        .footer__credit{
           padding-top: 0.3em;
        }
    }   
}

.sign-up-btn {
    margin-left: 100px;
    background-color: $buttonColor;
    color: $defaultColor;
    border: none;
}

.sign-up-btn__link {
    color: $defaultColor;
    
        &:hover {
            text-decoration: none;
            color: $defaultColor;
        }
}

@media screen and (min-width: 992px){
    
   .jumbotron {
        background-image: url("images/mh_header.jpg");
        background-color: #cccccc;
        background-size: cover;
        width: 100%;
        height: 550px;
    }
  
    .dropdown {
        margin-left: 600px;
    }
    
    .logo {
        display: none;
    }

    .user-actions__sign-up-btn {
        background-color: $buttonColor;
        color: $defaultColor;
        border: none;
    }

    .user-actions__link {
        color: $defaultColor;
            &:hover {
                text-decoration: none;
                color: $defaultColor;
            }
    }

    .user-actions__link--black {
        color: $textColor;
        &:hover {
            text-decoration: none;
            color: $interactiveHover;
        }
    }

 }    
