$sectionBackground:#f2f2f2;
$defaultColor:#fff;
$textColor:#262626;
$headLineColor:#1c3045;
$buttonColor:#1C4D45;
$interactiveHover:#2E52A1;
$tabs:#6d6d6d;
$dangerColor:#cc4750;



body{
    padding:0px;
    margin: 0px;
    background: $defaultColor;
    color: $textColor;
}

main {
    margin:auto;
    max-width: 600px;
}

.dropdown {
    margin-left: 600px;
}

.logo{
    width: 100px;
}

h1 {

    color: $headLineColor;
}

h1 {

    color:$textColor;
}

//the blogpost

.blogpost {
 background-color: $sectionBackground;
 margin: auto;
 margin: auto;

 //category button

 .blogpost__category-button{
    background-color: $buttonColor;
    color: $defaultColor;
    margin: 10px;
    }

 //user's info

.blogpost__user-info {
    margin: 10px;
    p {
    margin-left:50px;
    color: $textColor;
    }
    .fa-user-circle-o {
    font-size: 3em;
    }
   }

   // user's blogpost headline
   h2 {
       color: $textColor;
       margin: 10px;

   }
 //blogpost image

 img {
 max-width: 100%;
    }
.blogpost__blog-description{
    color: $textColor;
    margin: 10px;
    }
//read more link

.blogpost__read-more {
text-align: right;
padding: 10px;

    }
    //share icon link
   
    .blogpost__share-button{
     text-align: right;
     padding: 10px;
     
     .fa-share-alt{
      font-size: 2em;
     }

    }
}
