$sectionBackground:#f2f2f2;
$defaultColor:#fff;
$textColor:#262626;
$headLineColor:#1c3045;
$buttonColor:#1C4D45;
$interactiveHover:#2E52A1;
$tabs:#6d6d6d;
$dangerColor:#cc4750;



body{
    padding:0px;
    margin: 0px;
    background: $defaultColor;
    color: $textColor;
}

main {
    margin: 0px auto;
}

.dropdown {
    margin-left: 600px;
}

.logo{
    width: 100px;
}

footer{

    .footer__container{
        text-align: center;
        max-width: 100%;

        button{
            width: 100px;
            display: inline-block;
        }

        button:nth-child(1){
            background-color:#395a93;  
        }

        button:nth-child(2){
            background-color:#8a3ab9;
            margin: 0 2em;
        }

        button:nth-child(3){
            background-color: $buttonColor;  
        }
        .footer__credit{
           padding-top: 0.3em;
        }
    }   
}
